/*地图容器*/
#cesiumContainer {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    position: absolute;
    z-index: 0;
}

#creditContainer {
    display: none;
}

.cesium-viewer-toolbar,
/* 工具条 */
.cesium-viewer-animationContainer,
/* 左下角动画控件 */
.cesium-viewer-timelineContainer,
/* 时间线 */
.cesium-viewer-bottom,
/* logo信息 */
.cesium-viewer-vrContainer，

/*VR工具条*/
.cesium-viewer-fullscreenContainer,
/* 全屏按钮 */
.navigation-controls,
.compass,
.distance-legend {
    z-index: 999;
    display: none;
}

.cesium-viewer-timelineContainer {
    width: 83%;
}

/*导航栏*/
#nav {
    width: 80%;
    z-index: 9;
    position: absolute;
    font-size: 18px;
}

.navbar-brand {
    font-size: 28px;
    font-weight: 500;
    font-family: 'Comic Sans MS', cursive;
}

/*图表*/
#mainChart {
    position: absolute;
    width: 600px;
    height: 400px;
    z-index: 1000;
    top: 30%;
    display: none;
}

/*功能操作弹框*/
.functionWin {
    font-size: 13px;
    position: fixed;
    top: 10%;
    left: 0%;
    overflow: hidden;
    display: none;
    border-radius: 8px;
    min-width: 160px;
    z-index: 999;
    font-size-adjust: 20px;
}

.functionWin [type=checkbox] {
    width: 18px;
    height: 18px;
}

.functionWin select {
    height: 80%;
}

.functionWin [type=text] {
    height: 80%;
    max-width: 150px;
}

.functionWin [type=button] {
    border-radius: 4px;
}

.functionWin [type=button]:hover {
    background-color:gray;
}

.row div {
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: hidden;
}

.functionWin .title {
    position: absolute;
    top: 6px;
    left: 8px;
    font-size: 20px;
}

/* 头部 */
.functionWin .head {
    border-bottom: 1px solid grey;
    width: 100%;
    height: 36px;
    background: linear-gradient(rgb(75, 71, 71), rgb(51, 47, 47), rgb(87, 77, 77));
    /* min-width: 160px; */
}

/* 内容 */
.functionWin .content {
    padding: 8px 12px 12px 8px;
    background-color: grey;
    width: 100%;
    min-height: 60px;
}

/*win 头部功能按钮*/
.headfun_win {
    position: relative;
    padding: 6px;
    float: right;
}

.headfun_win {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: rgb(136, 132, 132);
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

.headfun_win:hover,
.headfun_win:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}

/*鼠标框*/
#mousePosition {
    visibility: hidden;
    font-size: 18px;
    display: block;
    position: absolute;
    bottom: 0%;
    right: 8%;
    color: rgba(245, 69, 69, 0.952);
    z-index: 999;
}

/*视锥设置*/
#edit_cone {
    width: 20%;
    background-color: grey;
    margin-top: 5%;
    z-index: 999;
}

.slider {
    float: left;
    width: 70%;
    margin: 0;
    padding-right: 15px;
}

.button_eidt {
    width: 20%;
    display: inline-block;
}

br {
    margin: 0;
}

h2 {
    height: 8%;
    margin: 0;
}

label {
    margin: 0;
    height: 7%;
}

.map-overlay {
    font: bold 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    position: absolute;
    width: 25%;
    top: 0;
    left: 0;
    padding: 10px;
}

.map-overlay .map-overlay-inner {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
}

.map-overlay label {
    display: block;
    margin: 0 0 10px;
}

.map-overlay input {
    background-color: transparent;
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 0;
    cursor: ew-resize;
}

/*工具条容器*/
.toolbar-container {
    position: fixed;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid black;
    top: 10%;
    left: 75%;
    z-index: 999;
    border-radius: 10px;
    background-color: gray;
}

.toolbar {
    padding: 0;
    margin: 0;
}

.toolbar li {
    float: right;
    list-style: none;
    text-align: center;
    padding: 3px;
    border-right: 1px solid black;
    ;
}

.toolbar li:hover {
    background-color: #1B6D85;
}

.toolbar li div {
    width: 32px;
    height: 32px;
    display: inline-block;
    /*background-color: gray;*/
}

.toolbar span {
    color: cornflowerblue;
    position: relative;
    top: -10px;
}

/*cesium 自定义样式*/
#toolbar_div {
    position: fixed;
    right: 0%;
    top: 20%;
    display: block;
    width: 200px;
    height: 300px;
    background-color: red;
    z-index: 2000;
    opacity: 0.5;
}

/*剖面分析按键*/
#section {
    background-color: gray;
    color: black;
    top: 10%;
    z-index: 999;
    display: none;
    position: relative;
    float: left;
    width:20%;
}
#section .button{
    display: block;
}

/*等高线设置*/
#contour {
    font-size: 13px;
    z-index: 999;
    float: left;
    top: 10%;
    background-color: gray;
    width: 320px;
    border-radius: 8px;
    display: none;
}

#contour .demo-container {
    display: block;
    background-color: #303336;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 3px;
}

#contour .demo-container input {
    vertical-align: middle;
    margin-top: 0;
}

#contour .title {
    top: 6px;
    left: 8px;
    font-size: 20px;
    margin: 5px 3px;
}

#contour .demo-container input:hover,
#contour .demo-container input:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}

#contour div {
    margin-top: 2px;
    margin-bottom: 2px;
}

#contour .demo-container{
    margin-top: 5px;
    margin-bottom: 2px;
}
/*通视分析*/
#entity{
    font-size: 20px;
    border-radius: 8px;
    z-index: 999;
    display: none;
    top:10%;
    position: relative;
    background: gray;
    width:290px;
    height: 200px;
}
#entity .title {
    top: 6px;
    left: 8px;
    font-size: 20px;
    margin: 5px 3px;
}
#entity .container-fluid{
    margin:10px 3px;
}
#entity .container-fluid button{
    margin-right: 20px;
}
/*编辑地图*/
#edit_map{
    font-size: 20px;
    border-radius: 8px;
    z-index: 999;
    display: none;
    top:10%;
    position: relative;
    background-color: gray;
    width:290px;
    height: 200px;
}
#edit_map .title {
    top: 6px;
    left: 8px;
    font-size: 20px;
    margin: 5px 3px;
}
#edit_map .container-fluid{
    margin:10px 3px;
}
#edit_map .container-fluid button{
    margin-right: 20px;
}
/*可视域分析*/
#toolbar{
    z-index: 999;
    display: none;
}
#toolbar input[type=range] {
    width: 70px;
}
#toolbar input {
    vertical-align: middle;
    padding-top: 2px;
    padding-bottom: 2px;
}

#viewshed_map{
    font-size: 20px;
    border-radius: 8px;
    z-index: 999;
    display: none;
    top:10%;
    position: relative;
    background: gray;
    width:290px;
    height: 180px;
}
#viewshed_map .title {
    top: 6px;
    left: 8px;
    font-size: 20px;
    margin: 5px 3px;
}
#viewshed_map .container-fluid{
    margin:10px 3px;
}
#viewshed_map .container-fluid button{
    margin-right: 20px;
}